apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
type: Opaque
data:
  # echo -n mongodb+srv://<username>:<password>@uagrmdb.mqevenn.mongodb.net/diagrammerDB | base64
  MONGODB_CNN: <base64>
