apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
type: Opaque
data:
  # echo -n mongodb+srv://Guason007XD:<password>@uagrmdb.mqevenn.mongodb.net/diagrammerDB | base64
  MONGODB_CNN: bW9uZ29kYitzcnY6Ly9HdWFzb24wMDdYRDpodWFuY2ExOTYyQHVhZ3JtZGIubXFldmVubi5tb25nb2RiLm5ldC9kaWFncmFtbWVyREI=